
@import "tailwindcss";

:root {
  --fc-border-color: #D6CFFF;
  --fc-daygrid-event-dot-width: 5px;
 
}



.fc .fc-col-header-cell-cushion {
  color: #4F378A;
}


.fc .fc-toolbar-title {
  color: #4F378A;
}

.fc .fc-button-primary {
  background-color: #A89FE3;
  color: #4F378A;
  border: none; /* Remove default border */
 
}




.fc .fc-button-primary:disabled {
  background-color:  #4F378A; /* Grey color for disabled button */
  color: #D6CFFF ; /* Darker shade for disabled text */

}

.fc .fc-button-primary:hover {
  background-color: #6A4F9A; /* Darker shade on hover */
  color: white;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
  background-color: #4F378A; /* Lighter shade when disabled */
  color: #D6CFFF; /* Grey color for disabled text */
}



.fc .fc-daygrid-day.fc-day-today {
  background-color: #D6CFFF; /* Light purple for today's date */
  color: #4F378A; /* Darker shade for today's text */
}



.fc .fc-timegrid-col.fc-day-today {
  background-color: #FBF9FF; /* Light purple for today's date */
  color: #4F378A; /* Darker shade for today's text */
}



body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
}

.fredoka-normal {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 

.fredoka-medium {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.fredoka-semibold {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




.fredoka-bold {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Manrope font styles */
.manrope-normal {
  font-weight: 400;
  font-style: normal;
}
.manrope-semibold {
  font-weight: 600;
  font-style: normal;
}
.manrope-medium {
  font-weight: 500;
  font-style: normal;
}
.manrope-bold {
  font-weight: 700;
  font-style: normal;
}


.poppins-thin {

  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {

  font-weight: 200;
  font-style: normal;
}

.poppins-light {

  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
 
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {

  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {

  font-weight: 600;
  font-style: normal;
}

.poppins-bold {

  .paths {
    fill: none;
    stroke: grey;
    stroke-dasharray: 5;
    stroke-width: 5;
    stroke-linejoin: round;
  }
  
  .mask {
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
  }
  
  /* does not work in IE, need JS to animate there */
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {

  font-weight: 800;
  font-style: normal;
}

.poppins-black {

  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {

  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
 
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {

  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {

  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {

  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {

  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {

  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
 
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {

  font-weight: 900;
  font-style: italic;
}

  

.lowercase-text { 
  text-transform: lowercase;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, Edge */
}

.no-scrollbar {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  ms-overflow-style: none; /* Hide scrollbar for IE & Edge */
}

.custom-checkbox {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.custom-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-width: 5px;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #4F378A;
  border-radius: 4px;
  position: relative;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #4F378A;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type="checkbox"] {
  accent-color: #4F378A;
  /* Green color */
}


.custom-button {
  position: relative;
  overflow: hidden;
  display: inline-flex; /* Ensures button width is based on content */
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
}

.custom-button .btn-text {
  position: relative; /* Keeps text and line aligned */
  display: inline-block;
}

.custom-button .hover-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #4F378A;
  transition: width 0.3s ease;
}

.custom-button:hover .hover-line {
  width: 100%;
}

@media (min-width: 769px) {
  .icon-small {
    display: block;
  }
  .icon-large {
    display: none;
  }
}

@media (min-width: 1536px) {
  .icon-small {
    display: none;
  }
  .icon-large {
    display: block;
  }
}

.circle-on-top {
  z-index: 10; /* Ensure this is higher than the z-index of the dotted line */
  position: relative; /* Ensure the z-index takes effect */
}

.dotted-line {
  z-index: 1; /* Ensure this is lower than the z-index of the circle */
  position: relative; /* Ensure the z-index takes effect */
}



.paths {
  fill: none;
  stroke: grey;
  stroke-dasharray: 5;
  stroke-width: 5;
  stroke-linejoin: round;
}

.mask {
  fill: none;
  stroke: white;
  stroke-width: 10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

/* does not work in IE, need JS to animate there */
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

input::placeholder {
  color: var(--color-placeholder, #909090); /* Default placeholder color */
  opacity: 1; /* Very important for cross-browser consistency */
}





aside.ps-sidebar-root.ps-collapsed.css-1um7rol {
  border: none !important;
}
.css-1um7rol {
  border: none !important;
}

aside.ps-sidebar-root.ps-collapsed {
  border: none;
}

.css-1b8y49o {
  border: none !important;
}
.css-hq7a34 {
  border: none !important;
}

.css-13epwmy {
  border: none !important;
}

/* Remove the ::before and ::after rules */
.pulseBtn {
background: #4F378A;
color:#fff;
border-radius: 0.25rem;
padding:0.4rem;
box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
-moz-animation: pulse 2s infinite;
-webkit-animation: pulse 2s infinite;
animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
    }
    100% {
        box-shadow: 0 0 0 50px rgba(88, 120, 243, 0);
    }
  }